$colorPrimary-rojoSuave: rgb(254, 120, 103);
$colorPrimary-amarillo: rgb(250, 212, 0);
$colorPrimary-cianDesaturadoOscuroTXT_DSG: rgb(0, 187, 212);
$colorPrimary-azulOscuroTXT_DSG: rgb(25, 83, 107);
$colorPrimary-cianModeradoOscuroFOOTER: rgb(0, 188, 212);
$colorNeutral-azulDesaturadoMuyOscuro: rgb(35, 48, 62);
$colorNeutral-azulGrisáceoMuyOscuro: rgb(90, 99, 108);
$color-Neutral-azulGrisáceo: rgb(167, 171, 174);
$color-Neutral-Blanco: rgb(255, 255, 255);
$color-txt-design: rgb(38, 87, 76);
$color-txt-photograpy: hsl(198, 62%, 26%);
$fz-body: 18px;
$font-familyBARLOW: "Barlow", sans-serif;
$fw-BARLOW: 600;
$font-familyFRAUNCES: "Fraunces", serif;
$fw-FRAUNCES: 700, 900;
$bg-footer: #90d4c5;
$color-footer:#2c7363;
