$colorPrimary-rojoSuave: hsl(7, 99%, 70%);
$colorPrimary-amarillo: hsl(51, 100%, 49%);
$colorPrimary-cianDesaturadoOscuroTXT_DSG: #00bcd4;
$colorPrimary-azulOscuroTXT_DSG: hsl(198, 62%, 26%);
$colorPrimary-cianModeradoOscuroFOOTER: #00bcd4;
$colorNeutral-azulDesaturadoMuyOscuro: hsl(212, 27%, 19%);
$colorNeutral-azulGrisáceoMuyOscuro: hsl(213, 9%, 39%);
$color-Neutral-azulGrisáceo: hsl(210, 4%, 67%);
$color-Neutral-Blanco: hsl(0, 0%, 100%);
$fz-body: 18px;
$font-familyBARLOW: "Open Sans", sans-serif;
$fw-BARLOW: 600;
$font-familyFRAUNCES: "Open Sans", sans-serif;
$fw-FRAUNCES: 700, 900;
