* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

/* ------------ HEADER ---------- */
.header {
  z-index: 1;
  width: 100%;
  padding: 0.5rem 0 0 0;
  background: url(../images/mobile/image-home.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  height: 70vh;
}

@media screen and (min-width: 768px) {
  .header {
    height: 90vh;
    background: url(../images/desktop/image-header.jpg) no-repeat center center;
    background-size: cover;
  }
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* boton hamburguesa */
}

@media screen and (min-width: 1024px) {
  .header .nav {
    padding: 0 2.55em 0 1.2em;
  }
}

.header .nav__logo {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  padding: 0.6em;
  text-align: left;
  position: relative;
  display: block;
}

.header .nav__panel-btn {
  position: absolute;
  z-index: 2;
  top: 0.6em;
  right: 1vh;
  width: 4em;
  height: 4em;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

@media screen and (min-width: 1024px) {
  .header .nav__panel-btn {
    display: none;
  }
}

.header .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-top: 1.5em;
  margin: 3.2em 0 0 1em;
  -webkit-clip-path: polygon(94% 10%, 100% 0, 100% 100%, 0 100%, 0 10%);
  clip-path: polygon(94% 10%, 100% 0, 100% 100%, 0 100%, 0 10%);
}

@media screen and (min-width: 1024px) {
  .header .nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.header .nav__menu-link {
  font-size: 1.2em;
  padding: 0.8em 1.5em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  border-radius: 1.5em;
}

@media screen and (min-width: 1024px) {
  .header .nav__menu-link {
    color: white;
  }
}

.header .nav__menu-link:hover {
  color: #23303e;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 700;
  background-color: #fad400;
}

@media screen and (min-width: 1024px) {
  .header .nav__menu-link:hover {
    color: #23303e;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@media screen and (min-width: 1024px) {
  .header .nav__menu-link:active {
    color: #23303e;
    background-color: white;
  }
}

.header .nav__menu-panel {
  position: fixed;
  background: white;
  min-height: 350px;
  width: 80%;
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  -webkit-transform: translate(150%, -100%);
          transform: translate(150%, -100%);
}

@media screen and (min-width: 1024px) {
  .header .nav__menu-panel {
    width: 100%;
    -webkit-transform: none;
            transform: none;
    padding-top: 0;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    background: transparent;
    position: relative;
  }
}

.header .nav__menu-panel.is-active {
  -webkit-transform: translate(15%, 0);
          transform: translate(15%, 0);
}

@media screen and (min-width: 1024px) {
  .header .nav__menu-panel.is-active {
    display: none;
  }
}

.header-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.header-intro__title {
  padding: 0.5em 0 1em 0;
  color: white;
  font-size: 2.6em;
  font-weight: 900;
  font-family: "Fraunces", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  justify-items: center;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header-intro__title {
    padding: 1.5em 0;
    font-size: 3.5em;
  }
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: minmax(100px, 1fr) minmax(500px, 0.7fr) minmax(100px, 1fr) minmax(500px, 0.7fr);
      grid-template-rows: minmax(100px, 1fr) minmax(500px, 0.7fr) minmax(100px, 1fr) minmax(500px, 0.7fr);
}

@media screen and (min-width: 1024px) {
  .about {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__item:first-child {
  -ms-grid-row: 1;
  grid-row: 1;
}

@media screen and (min-width: 1024px) {
  .about__item:first-child {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media screen and (min-width: 1024px) {
  .about__item:nth-child(2) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.about__item:nth-child(3) {
  -ms-grid-row: 3;
  grid-row: 3;
}

@media screen and (min-width: 1024px) {
  .about__item:nth-child(3) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.about__item:nth-child(4) {
  -ms-grid-row: 4;
  grid-row: 4;
}

@media screen and (min-width: 1024px) {
  .about__item:nth-child(4) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.about__item--padding {
  padding: 5em 1.5em;
}

.about__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__item-title {
  font-size: 2em;
  color: #23303e;
  font-family: "Fraunces", serif;
  line-height: 1.2em;
  font-weight: 900;
}

.about__item-text {
  font-family: "Barlow", sans-serif;
  line-height: 1.7em;
  padding: 2em 0;
  color: #5a636c;
}

.about__item-button {
  border: none;
  background: none;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.about__item-button::before {
  content: "";
  display: block;
  width: 110px;
  height: 10px;
  border-radius: 25%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.6rem auto 0 auto;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.about__item-button--yellow::before {
  background-color: rgba(250, 212, 0, 0.2);
}

.about__item-button--yellow:hover::before {
  background-color: #fad400;
}

.about__item-button--red::before {
  background-color: rgba(254, 120, 103, 0.2);
}

.about__item-button--red:hover::before {
  background-color: #fe7867;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (650px)[2];
      grid-template-rows: repeat(2, 650px);
  max-width: 100%;
  width: 100%;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.services__item--design {
  color: #26574c;
}

.services__item--photograpy {
  color: #19536b;
}

.services__title {
  font-size: 2em;
  font-family: "Fraunces", serif;
  line-height: 1.2em;
  font-weight: 900;
}

.services__text {
  padding: 1.5em 1.5rem 3em 1.5em;
  line-height: 1.7em;
  font-family: "Barlow", sans-serif;
}

.services__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials {
  width: 100%;
}

.testimonials__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  letter-spacing: 0.1em;
  margin: 3em 0;
  color: #a7abae;
}

.testimonials__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (400px)[3];
      grid-template-rows: repeat(3, 400px);
  gap: 2em;
  max-width: 100%;
  width: 100%;
}

.testimonials__card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1.5em;
}

.testimonials__card-img {
  border-radius: 50%;
}

.testimonials__card-description {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
}

.testimonials__card-date {
  line-height: 2em;
}

.testimonials__card-date:last-child {
  padding-bottom: 3em;
}

.testimonials__card-name {
  color: #23303e;
  font-size: 1.2em;
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.testimonials__card-job {
  color: #a7abae;
}

.projects-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (50%)[2];
      grid-template-rows: repeat(2, 50%);
}

.projects-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-item__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

nav {
  width: 100%;
}

.footer {
  background: #90d4c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 350px;
  position: relative;
}

.footer__title {
  color: #2c7363;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2em;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.25em;
  width: 100%;
}

.footer__nav-link {
  color: #2c7363;
  font-family: "Barlow", sans-serif;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5em;
  margin-top: 0.5em;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */